＜　<%= @nickname %>　のページ＞

<% if  current_user.image.blank? %>
    <% else %>
    <p><%= image_tag current_user.image %></p>
<% end %>

<hr>
<% @routes.each do |route| %>
    <p>タイトル：<%= route.title %></p>
    <p>場　　所：<%= route.place %></p>
    <p>詳　　細：<%= route.detail %></p>
    <p>距　　離：<%= route.distance %>km</p>
    <p>nickname：<%= route.user.nickname %></p>
    <p><%= link_to "編集", "/routes/#{route.id}/edit" %>　／　<%= link_to "削除", "/routes/#{route.id}", method: :delete  %></p>
    <hr>
<% end %>


    <p><%= link_to "プロフィール修正", "/users/#{current_user.id}/edit" %></p>

    <p><%= link_to "トップページ", root_path %></p>
    
    
    
