<% provide :title, " | マイページ" %>


<div class="box1">
    <h1><a href="/">bravo</a></h1>
<p>＜　<%= @nickname %>　のページ＞<p>
</div>


<div class="box2">
    <nav class="menu">
        <ul>
<% if user_signed_in? %>
    <li><%= link_to "書き込む", new_route_path %></li>
    <li><%= link_to "トップページ", root_path %></li>
    <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete %></li>
<% else %>
    <li>書き込む</li>
    <li>マイページ</li>
    <li><%= link_to "サインイン", new_user_session_path %></li>
<% end %>

</ul>
</nav>
</div>



<div class="A">
    <div class="box3">
        
<article class="kiji">

<hr>
<% @routes.each do |route| %>
    <p>タイトル：<%= route.title %></p>
    <p>場　　所：<%= route.place %></p>
    <p>詳　　細：<%= route.detail %></p>
    <p>距　　離：<%= route.distance %>km</p>
    <p>nickname：<%= route.user.nickname %></p>
    <p><%= link_to "編集", "/routes/#{route.id}/edit" %>　／　<%= link_to "削除", "/routes/#{route.id}", method: :delete, data: { confirm: '削除しますか？' }  %></p>
    <p><%= link_to "写真／コメントを書く",  "/routes/#{route.id}/images/new" %></p>
    
    <hr>
<% end %>

</article>
    </div>



<div class="box4">

	<div class="profile">

        <% if current_user.image == nil %>
        <% else %>
            <p>ー　プロフィール画像をUPしてください　ー</p>
        <% end %>

         <p><%= link_to "プロフィール修正", "/users/#{current_user.id}/edit" %></p>

	</div>

        
	<aside class="sidemenu">
	<h1>特集記事</h1>
	<ul>
	<li><a href="#">わかりやすい地図の読み方</a></li>
	<li><a href="#">苗から始めるトマト作り</a></li>
	<li><a href="#">料理とスマホの便利な関係</a></li>
	<li><a href="#">バッテリーを長持ちさせる技</a></li>
	</ul>
	</aside>
        
    </div>
</div>




<div>
    

    
</div>

    
    
<div class="box5">

    <!--<%= paginate @routes %>-->

</div>

