<!-- -------------------------　タイトルバー表示　------------------------- -->
<% provide :title, " | トップページ" %>

<!-- -------------------------　タイトル　------------------------- -->
<div class="box1">
    <h1><a href="#">bravo</a></h1>
<p><%= "＜トップページ＞" %><p>
</div>

<!-- -------------------------　ナビゲーションバー　------------------------- -->

<div class="box2">
    <nav class="menu">
        <ul>
<% if user_signed_in? %>
    <li><%= link_to "書き込む", new_route_path %></li>
    <li><a href="/users/<%= current_user.id %>">マイページ</a></li>
    <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete %></li>
<% else %>
    <li>書き込む</li>
    <li>マイページ</li>
    <li><%= link_to "サインイン", new_user_session_path %></li>
<% end %>

</ul>
</nav>
</div>


<!-- -------------------------　コンテンツ　------------------------- -->
<div class="A">
    <div class="box3">

<article class="kiji">

<hr>
<% @routes.each do |route| %>
    <h1>タイトル：<%= route.title %></h1>
    
    <p>場　　所：<%= route.place %></p>
    <p>詳　　細：<%= route.detail %></p>
    <p>距　　離：<%= route.distance %>km</p>
    <p>nickname：<%= route.user.nickname %></p>
    <p><%= link_to "ルート詳細を見る", "/routes/#{route.id}" %></p>
    <hr>
<% end %>


<!-- ----------　ページネーション　----------- -->
<div>
    <%= paginate @routes %>
</div>
<hr>

</article>
    </div>


<!-- -------------------------　サイドバー　------------------------- -->
<div class="box4">
        
	<div class="search_box">
    	<%= form_tag(search_routes_path, method: :get) do %>
        	<%= text_field_tag :search %>
        	<%= submit_tag '検索', :name => nil %>
    	<% end %>	
	</div>
	
	<aside class="sidemenu">
		<h1>マイページ</h1>
		<ul>
		<li><a href="#">わかりやすい地図の読み方</a></li>
		<li><a href="#">苗から始めるトマト作り</a></li>
		<li><a href="#">料理とスマホの便利な関係</a></li>
		<li><a href="#">バッテリーを長持ちさせる技</a></li>
		</ul>
		</aside>
        
    </div>
</div>




<!-- -------------------------　ボトム　------------------------- -->
<div class="box5">
リンク：<a href="sp1.html">HTMLページへ</a>
<div>運営：Wordscape</div>
</div>

